<div class="container">
    <div class="content-wrapper">
        <div class="content">
            <div class="card first-card">
                <div class="content-header">
                    <div class="content-title-start">
                        <b>Why Do We Deliver <span class="blue">Food</span> with <span class="blue">Drone?</span></b>
                    </div>
                </div>
                <div class="content-title-punchline">
                    <div class="content-title">
                        <b>Because <span class="blue">We Can...</span> </b>
                    </div>
                    <div class="card-body">
                        {{description}}
                    </div>
                </div>
            </div>

            <div class="card bg-black">
                <div class="content-title">
                    What We Offer
                </div>
                <br>
                <div class="card-content">
                    <div class="bg-white card-item">
                        <div class="item-title"><b class="blue">Option 1</b> </div>
                        <div class="card-body">
                            {{description}}
                        </div>
                    </div>
                    <div class="bg-white card-item">
                        <div class="item-title"><b class="blue">Option 2</b> </div>
                        <div class="card-body">
                            {{description}}
                        </div>
                    </div>
                    <div class="bg-white card-item">
                        <div class="item-title"><b class="blue">Option 2</b> </div>
                        <div class="card-body">
                            {{description}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-blue last-card">
                <div class="card-content">
                    Contact us here
                </div>
                <div class="contact ">
                    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="white-backgrounded-field">
                        <input type="text" matInput placeholder="Enter E-mail here...">
                    </mat-form-field>
                    <button mat-raised-button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    Copyright and other footer related notes
</footer>