.toolbar {
    background-color: rgba(255, 255, 255, 0.301);
    position: fixed;
    z-index: 10;
}

.tool-row {
    justify-content: space-between;
    opacity: 1;
}

.name {
    font-size: 30px;
    color: var(--blue);
}

